<% cache(status.cache_key) do -%>
  <div class="status" id="status-<%= status.id %>">
    <div class="avatar">
      <a href="http://twitter.com/<%= u(status.user.formatted_screen_name) %>">
        <%= image_tag status.user.profile_image_url, :alt => '' %>
        <span class="screen_name">
          <%= h status.user.actual_screen_name %>
        </span>
        <span class="name">
          <%= h status.user.name %>
        </span>
      </a>
    </div>
    <div class="content">
      <div class="text"><%= raw simple_format(status.text) %></div>
      <p class="metadata">
        <%= link_to "#{time_ago_in_words(status.created_at)} ago", "http://twitter.com/#{u(status.user.formatted_screen_name)}/status/#{status.id}" %>
        <% if status.source -%>
          from <%= raw status.source %>
        <% end %>
        <% if status.in_reply_to_status_id %>
          <%= link_to "in reply to #{status.in_reply_to_screen_name}", status_path(status.in_reply_to_status_id) %> 
        <% end %>
      </p>
    </div>

    <% if status.photo -%>
      <div class="photo">
        <%= link_to image_tag(status.photo.medium_url), status.photo.url %>
      </div>
    <% end -%>
  
    <div class="permalink">
      <%= link_to 'permalink', status_path(:id => status.id) %>
    </div>
  
  </div>
<% end -%>